.averto {
	pointer-events: none;
	position: fixed;
	display: flex;
	top: 0;
	justify-content: center;
	left: 0;
	width: 100%;
	height: 100%;
}

.averto.is__blocking {
	pointer-events: all;
}

.averto-box {
	z-index: 1000;
	bottom: 85px;
	position: absolute;
	display: inline-block;
	opacity: 0;
    transition: opacity .2s .15s ease-out,
                transform .5s cubic-bezier(.43, .18, .78, .36);
	color: #fff;
	max-width: 470px;
	min-width: 270px;
	border-radius: 4px;
	transform: translateY(150px);
	margin: 0 auto;
}

.averto.is__visible .averto-box {
	opacity: 1;
	transform: translateY(0);
    transition: opacity .25s ease-out,
                transform .5s cubic-bezier(.075, .82, .165, 1);
}

.averto-gradient {
	pointer-events: all;
	padding: 22px 23px;
	box-shadow: 0 16px 31px -2px rgba(0, 0, 0, .17);
	background: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, .1) 100%);
}

.averto-message,
.averto-title {
	font-size: 1.1em;
}

.averto-title {
	line-height: 1.1em;
	display: block;
	font-weight: 700;
}

.averto-title,
.averto-message {
	cursor: default;
}