.averto {
    pointer-events: none;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 100%;
}

.averto.is__blocking {
    pointer-events: all;
}

.averto-box {
    z-index: 1000;
    bottom: 85px;
    position: absolute;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    -webkit-transition: opacity .2s .15s ease-out, -webkit-transform .5s cubic-bezier(.43, .18, .78, .36);
    transition: opacity .2s .15s ease-out, -webkit-transform .5s cubic-bezier(.43, .18, .78, .36);
    transition: opacity .2s .15s ease-out, transform .5s cubic-bezier(.43, .18, .78, .36);
    transition: opacity .2s .15s ease-out, transform .5s cubic-bezier(.43, .18, .78, .36), -webkit-transform .5s cubic-bezier(.43, .18, .78, .36);
    color: #fff;
    max-width: 470px;
    min-width: 270px;
    border-radius: 4px;
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    margin: 0 auto;
}

.averto.is__visible .averto-box {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .25s ease-out, -webkit-transform .5s cubic-bezier(.075, .82, .165, 1);
    transition: opacity .25s ease-out, -webkit-transform .5s cubic-bezier(.075, .82, .165, 1);
    transition: opacity .25s ease-out, transform .5s cubic-bezier(.075, .82, .165, 1);
    transition: opacity .25s ease-out, transform .5s cubic-bezier(.075, .82, .165, 1), -webkit-transform .5s cubic-bezier(.075, .82, .165, 1);
}

.averto-gradient {
    pointer-events: all;
    padding: 22px 23px;
    -webkit-box-shadow: 0 16px 31px -2px rgba(0, 0, 0, .17);
    box-shadow: 0 16px 31px -2px rgba(0, 0, 0, .17);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, .1)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, .1) 100%);
}

.averto-message,
.averto-title {
    font-size: 1.1em;
}

.averto-title {
    line-height: 1.1em;
    display: block;
    font-weight: 700;
}

.averto-title,
.averto-message {
    cursor: default;
}
